{% trans_default_domain 'FOSUserBundle' %}
{% extends "::layoutAdmin.html.twig" %}
{% block body %}
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title arabe"> بيانات الأدمين</h4></div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="white-box">
                    <div class="fos_user_user_show">
                        <p class="arabe">الأدمين : {{ user.username }}</p>
                        <p class="arabe">الايميل : {{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
