{% extends "::layoutAdmin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">#}
    <!-- Integral core stylesheet -->
    {#<link href="{{ asset('datatable/integral-core.css') }}" rel="stylesheet">#}
    <!-- /integral core stylesheet -->

    <!--Jvector Map-->
    {#<link href="{{ asset('datatable/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet">#}

    {#<link href="{{ asset('datatable/integral-forms.css') }}" rel="stylesheet">#}

    <!-- Bootstrap RTL stylesheet min version -->
    {# <link href="{{ asset('datatable/bootstrap-rtl.min.css') }}" rel="stylesheet">#}
    <!-- /bootstrap rtl stylesheet min version -->

    <!-- Integral RTL core stylesheet -->
    {#<link href="{{ asset('datatable/integral-rtl-core.css') }}" rel="stylesheet">#}

    {#<link href="{{ asset('datatable/integral-forms.css') }}" rel="stylesheet">#}
    <link href="{{ asset('datatable/jquery.dataTables.css') }}" rel="stylesheet">
    <link href="{{ asset('datatable/buttons.dataTables.css') }}" rel="stylesheet">

    <link href="{{ asset('datatable/select2.css') }}" rel="stylesheet">

    <link href="{{ asset('datatable/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- /main header -->

    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title arabe">التقييمات</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">


                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title arabe">قائمة التقييمات</h4>
                        </div>


                        <div class="panel-body">
                            {% for flashMessage in app.session.flashbag.get('msg') %}
                                <br><br>
                                <div class='alert alert-success alert-dismissable arabe'>
                                    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;
                                    </button>
                                    {{ flashMessage }}
                                </div>

                            {% endfor %}
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th class="arabe">التقييم</th>
                                    <th class="arabe">تاريخ الموعد</th>
                                    <th class="arabe">الطبيب</th>
                                    <th class="arabe">المستخدم</th>
                                    <th class="arabe">الحالة</th>
                                    <th class="arabe">الموافقة على عرض التقييم</th>
                                    <th class="arabe">عرض بيانات التقييم</th>
                                    <th class="arabe">تعديل</th>
                                    <th class="arabe">حذف</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for evaluation in evaluations %}
                                {% if evaluation.isActiveEvaluation == 1 and evaluation.appointment.eval == 1 %}
                                <tr class="gradeX">
                                    <td class="arabe">{{ evaluation.evaluation }}</td>
                                    <td class="arabe">{{ " اليوم : " ~ evaluation.appointment.appointment|date('d/m/Y') ~  " الساعة : " ~ evaluation.appointment.appointment|date('H') ~ " و : " ~ evaluation.appointment.appointment|date('i') ~ " دقيقة " }}</td>
                                    {#<td>{{ evaluation.createdAtEvaluation|date('d/m/Y') }}</td>#}
                                    <td class="arabe">{{ evaluation.doctor.nameDoctor }}</td>
                                    <td class="arabe">{{ evaluation.user.name }}</td>
                                    <td align="center" class="arabe">
                                        {% if evaluation.statusEvaluation == 0 %}
                                            <span class="fa fa-2x fa-circle-o"></span>
                                            {% else %}
                                                <span class="fa fa-2x fa-check-circle-o"></span>
                                        {% endif %}
                                    </td>
                                    <td class="arabe">
                                        {% if evaluation.statusEvaluation == 0 %}
                                        <a  href="#" id="confirmEvaluation-{{ evaluation.id }}" data-toggle="modal"
                                            data-target="#confirmEvaluation-{{ evaluation.id }}">موافقة <i class="fa fa-mouse-pointer" aria-hidden="true"></i>  </a>
                                            {% else %}
                                                <a  href="#" id="unconfirmEvaluation-{{ evaluation.id }}" data-toggle="modal"
                                                    data-target="#unconfirmEvaluation-{{ evaluation.id }}"> تراجع <i class="fa fa-mouse-pointer" aria-hidden="true"></i></a>
                                            {% endif %}
                                    </td>
                                    <div class="modal fade" id="confirmEvaluation-{{ evaluation.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4 class="modal-title arabe" id="myModalLabel"> <i class="fa fa-eye" aria-hidden="true"></i> تأكيد الموافقة على عرض التقييم  </h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p class="arabe">
                                                        هل تريد  الموافقة على عرض هذا التقييم :
                                                        <br><br>
                                                        <span style="border: 1px dashed black; padding: 3px">
                                                        <strong class="arabe">
                                                            التقييم :
                                                        </strong>
                                                        {{ evaluation.evaluation }} </span><br><br>
                                                        <strong class="arabe">

                                                            تاريخ الموعد :
                                                        </strong>
                                                        {{ " اليوم : " ~ evaluation.appointment.appointment|date('d/m/Y') ~  " الساعة : " ~ evaluation.appointment.appointment|date('h') ~ " و : " ~ evaluation.appointment.appointment|date('I') ~ " دقيقة " }} <br>

                                                        <strong>

                                                        اسم الطبيب :
                                                        </strong>
                                                        {{ evaluation.doctor.nameDoctor }} <br>
                                                        <strong>
                                                         اسم المستخدم :
                                                        </strong>
                                                        {{ evaluation.user.name }}

                                                    </p>
                                                    <p class="arabe" style="border: 1px dashed black; padding: 3px">
                                                        <strong style="text-decoration: underline">التعليق</strong><br>
                                                        {{ evaluation.feedback }}
                                                    </p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default arabe" data-dismiss="modal">
                                                        رجوع
                                                    </button>
                                                    <a href="{{ path('doctors_admin_confirmEvaluation', {'id': evaluation.id}) }}"
                                                       class="btn btn-danger arabe" id="btn-remove"> أوافق</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="unconfirmEvaluation-{{ evaluation.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4 class="modal-title arabe" id="myModalLabel">  <i class="fa fa-eye-slash" aria-hidden="true"></i> تأكيد الموافقة على عدم عرض التقييم  </h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p class="arabe">
                                                        هل تريد  الموافقة على عدم عرض هذا التقييم :
                                                        <br><br>
                                                        <span style="border: 1px dashed black; padding: 3px">
                                                        <strong class="arabe">
                                                            التقييم :
                                                        </strong>
                                                            {{ evaluation.evaluation }} </span><br><br>
                                                        <strong class="arabe">

                                                            تاريخ الموعد :
                                                        </strong>
                                                        {{ " اليوم : " ~ evaluation.appointment.appointment|date('d/m/Y') ~  " الساعة : " ~ evaluation.appointment.appointment|date('h') ~ " و : " ~ evaluation.appointment.appointment|date('I') ~ " دقيقة " }} <br>

                                                        <strong>

                                                            اسم الطبيب :
                                                        </strong>
                                                        {{ evaluation.doctor.nameDoctor }} <br>
                                                        <strong>
                                                            اسم المستخدم :
                                                        </strong>
                                                        {{ evaluation.user.name }}

                                                    </p>
                                                    <p class="arabe" style="border: 1px dashed black; padding: 3px">
                                                        <strong style="text-decoration: underline">التعليق</strong><br>
                                                        {{ evaluation.feedback }}
                                                    </p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default arabe" data-dismiss="modal">
                                                        رجوع
                                                    </button>
                                                    <a href="{{ path('doctors_admin_unconfirmEvaluation', {'id': evaluation.id}) }}"
                                                       class="btn btn-danger arabe" id="btn-remove"> لا أوافق</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <td align="center">
                                        <a  href="{{ path('doctors_admin_showEvaluation', {'id':evaluation.id}) }}" class="btn btn-info">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </td>
                                    <td align="center">
                                        <a href="{{ path('doctors_admin_editEvaluation', {'id':evaluation.id}) }}" class="btn btn-primary">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </td>
                                    <td align="center">
                                        <a href="#" id="remove-customer-{{ evaluation.id }}" class="btn btn-danger" data-toggle="modal"
                                           data-target="#confirm-delete-{{ evaluation.id }}"><i class="fa fa-remove"></i> </a>

                                    </td>

                                    <!-- Delete Modal -->
                                    <div class="modal fade" id="confirm-delete-{{ evaluation.id }}" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4 class="modal-title arabe" id="myModalLabel"> تاكيد الحذف </h4>
                                                </div>

                                                <div class="modal-body">
                                                    <p class="arabe">
                                                        هل تريد حذف التقييم :
                                                        <br>
                                                        <strong class="arabe">
                                                            {{ evaluation.evaluation }}
                                                        </strong>
                                                    </p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default arabe" data-dismiss="modal">
                                                        رجوع
                                                    </button>
                                                    <a href="{{ path('doctors_admin_deleteEvaluation', {'id': evaluation.id}) }}"
                                                       class="btn btn-danger arabe" id="btn-remove"> حذف</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th class="arabe">التقييم</th>
                                    <th class="arabe">تاريخ الموعد</th>
                                    <th class="arabe">الطبيب</th>
                                    <th class="arabe">المستخدم</th>
                                    <th class="arabe">الحالة</th>
                                    <th class="arabe">الموافقة على عرض التقييم</th>
                                    <th class="arabe">عرض بيانات التقييم</th>
                                    <th class="arabe">تعديل</th>
                                    <th class="arabe">حذف</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>

            </div>


        </div>

        <!-- /main content -->
        {#{% block footer %}
            {{ parent() }}
        {% endblock %}#}
    </div>
    <!-- /page-wrapper -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('datatable/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery.blockUI.js') }}"></script>

    <!--Functions Js-->
    <script src="{{ asset('datatable/js/functions.js') }}"></script>

    <script src="{{ asset('datatable/js/loader.js') }}"></script>

    <script src="{{ asset('datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datatable/js/jszip.min.js') }}"></script>
    <script src="{{ asset('datatable/js/pdfmake.min.js') }}"></script>
    {#<script src="{{ asset('datatable/js/vfs_fonts.js') }}"></script>#}
    <script src="{{ asset('datatable/js/buttons.html5.js') }}"></script>
    <script src="{{ asset('datatable/js/buttons.colVis.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables-script.js') }}"></script>
    <script src="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js') }}"></script>
{% endblock %}
