<!DOCTYPE html>
<!-- Mirrored from eliteadmin.themedesigner.in/demos/eliteadmin-rtl/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Apr 2017 10:50:14 GMT -->
<head>
    <meta charset="utf-8">
<!DOCTYPE html>
<html lang="en" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Doctors{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/css/bootstrap-rtl.min.css') }}" rel="stylesheet">
            <!-- Menu CSS -->
            <link href="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
            <!-- vector map CSS -->
            <link href="{{ asset('plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.css') }}" rel="stylesheet" />
            <link href="{{ asset('plugins/bower_components/css-chart/css-chart.css') }}" rel="stylesheet">
            <!-- animation CSS -->
            <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <!-- color CSS -->
            <link href="{{ asset('css/colors/blue.css') }}" id="theme"  rel="stylesheet">
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
       {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js') }}"></script>
            <!-- Menu Plugin JavaScript -->
            <script src="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
            <!--slimscroll JavaScript -->
            <script src="{{ asset('js/jquery.slimscroll.js') }}"></script>
            <!--Wave Effects -->
            <script src="{{ asset('js/waves.js') }}"></script>
            <!-- Flot Charts JavaScript -->
            <script src="{{ asset('plugins/bower_components/flot/jquery.flot.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>
            <!-- google maps api -->
            <script src="{{ asset('plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/vectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
            <!-- Sparkline charts -->
            <script src="{{ asset('plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
            <!-- EASY PIE CHART JS -->
            <script src="{{ asset('plugins/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
            <script src="{{ asset('plugins/bower_components/jquery.easy-pie-chart/easy-pie-chart.init.js') }}"></script>
            <!-- Custom Theme JavaScript -->
            <script src="{{ asset('js/custom.min.js') }}"></script>
            <script src="{{ asset('js/dashboard2.js') }}"></script>
            <!--Style Switcher -->
            <script src="{{ asset('plugins/bower_components/styleswitcher/jQuery.style.switcher.js') }}"></script>
        {% endblock %}
    </body>
</html>
