<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!DOCTYPE html>
    <html lang="en" dir="rtl">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Doctors{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/css/bootstrap-rtl.min.css') }}"
                  rel="stylesheet">
            <!-- Menu CSS -->
            <link href="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
            <!-- vector map CSS -->
            <link href="{{ asset('plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.css') }}"
                  rel="stylesheet"/>
            <link href="{{ asset('plugins/bower_components/css-chart/css-chart.css') }}" rel="stylesheet">
            <!-- animation CSS -->
            <link href="{{ asset('css/animate.css') }}" rel="stylesheet">
            <!-- Custom CSS -->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            <!-- color CSS -->
            <link href="{{ asset('css/colors/blue.css') }}" id="theme" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('css/style_business.css') }}">
            {#<link rel="stylesheet" href="{{ asset('bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.min.css') }}">#}
            {#<link rel="stylesheet" href="{{ asset('datetimepicker-master/jquery.datetimepicker.css') }}">#}
            {% block stylesh %}
                {% endblock %}
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
        {# <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
    </head>
<body>
{% block navbarHeader %}
    <!-- navigation -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header"><a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)"
                                      data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <div class="top-left-part"><a class="logo" href="{{ path('doctors_admin_homepage') }}"><b><i class="fa fa-2x fa-user-md" aria-hidden="true"></i>
                    </b><span
                            class="hidden-xs arabe">الأطباء</span></a></div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i
                                class="icon-arrow-right-circle ti-menu"></i></a></li>

            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li class="dropdown"><a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img
                                src="{{ asset('plugins/images/users/avatar.png') }}" alt="user-img" width="36"
                                class="img-circle"><b class="hidden-xs">{{ app.user.username }}</b> </a>
                    <ul class="dropdown-menu dropdown-user animated flipInY">
                        <li><a href="{{ path('fos_user_profile_edit') }}" class="arabe"><i class="ti-settings"></i> اعدادات الحساب </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('fos_user_change_password') }}" class="arabe"><i class="ti-settings"></i> تغيير كلمة العبور</a></li>
                        <li role="separator" class="divider"></li>
                        <li>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('fos_user_security_logout') }}" class="arabe"><i class="fa fa-sign-out" aria-hidden="true"></i>

                                تسجيل الخروج للأدمين
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}</li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- .Megamenu -->

                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                    <!-- input-group -->
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="بحث...">
                        <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span></div>
                    <!-- /input-group -->
                </li>
                <li class="user-pro"><a href="{{ path('doctors_admin_homepage') }}" class="waves-effect"><img
                                src="{{ asset('plugins/images/users/avatar.png') }}"
                                alt="user-img" class="img-circle"> <span
                                class="hide-menu arabe"> الادارة</span></a>
                </li>
                <li class="nav-small-cap m-t-10">--- القائمة الرئيسية ---</li>
                <li><a href="{{ path('doctors_admin_homepage') }}" class="waves-effect active"><i
                                class="linea-icon linea-basic fa-fw"
                                data-icon="v"></i> <span
                                class="hide-menu arabe"> الاحصائيات </span></span>
                    </a>
                </li>
                <li><a href="#" class="waves-effect"><i class="fa fa-stethoscope p-r-10" aria-hidden="true"></i><span class="hide-menu arabe"> ادارة الاختصاصات <span
                                    class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{ path('doctorSpeciality_new') }}" class="arabe"><i class="fa fa-plus p-r-10"> </i> اضافة اختصاص</a></li>
                        <li><a href="{{ path('doctorSpeciality_index') }}" class="arabe"><i class="fa fa-list p-r-10"> </i> قائمة الاختصاصات</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);" class="waves-effect"><i class="fa fa-user-md p-r-10"></i> <span
                                class="hide-menu arabe"> ادارة الأطباء <span class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{ path('doctors_admin_addDoctors') }}" class="arabe"><i class="fa fa-plus p-r-10"> </i> اضافة حساب طبيب </a></li>
                        <li><a href="{{ path('doctors_admin_addDoctors') }}" class="arabe"><i class="fa fa-plus p-r-10"> </i> اضافة طبيب  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(بيانات مكتملة)</a></li>
                        <li><a href="{{ path('doctors_admin_doctors') }}" class="arabe"><i class="fa fa-list p-r-10"> </i> قائمة الأطباء</a></li>
                        {#<li><a href="{{ path('doctors_admin_doctors') }}">تحديث معلومات الطبيب</a></li>#}
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i class="icon-people p-r-10"></i> <span class="hide-menu arabe"> ادارة المستخدمين <span
                                    class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{ path('doctors_admin_addusers') }}" class="arabe"><i class="fa fa-plus p-r-10"> </i> اضافة مستخدم</a></li>
                        <li><a href="{{ path('doctors_admin_users') }}" class="arabe"><i class="fa fa-list p-r-10"></i> قائمة المستخدمين</a></li>
                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i class="fa fa-medkit p-r-10"></i> <span class="hide-menu arabe"> ادارة المواعيد <span
                                    class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{ path('doctors_admin_addAppointment') }}" class="arabe"><i class="fa fa-plus p-r-10"> </i> اضافة موعد</a></li>
                        <li><a href="{{ path('doctors_admin_appointment') }}" class="arabe"><i class="fa fa-list p-r-10"> </i> قائمة المواعيد</a></li>

                    </ul>
                </li>
                <li><a href="#" class="waves-effect"><i class="fa fa-comment p-r-10"></i> <span class="hide-menu arabe"> ادارة التقييمات <span
                                    class="fa arrow"></span></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{ path('doctors_admin_addEvaluation') }}" class="arabe"><i class="fa fa-plus p-r-10"> </i> اضافة تقييم</a></li>
                        <li><a href="{{ path('doctors_admin_evaluation') }}" class="arabe"><i class="fa fa-list p-r-10"> </i> قائمة التقييمات</a></li>
                    </ul>
                </li>
                {#<li><a href="javascript:void(0)" class="waves-effect"><i class="fa fa-comments p-r-10"></i> <span
                                class="hide-menu arabe"> اتصالات </span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="contact.html">Contact1</a></li>
                        <li><a href="contact2.html">Contact2</a></li>
                        <li><a href="contact-detail.html">Contact Detail</a></li>
                    </ul>
                </li>#}
            </ul>
        </div>
    </div>
    <!-- Left navbar-header end -->
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <footer class="footer text-center"> {{ 'now'|date('Y') }} &copy; </footer>
{% endblock %}
{#<footer class="footer text-center"> 2017 &copy; Businessology </footer>#}
{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
    {#<script  src="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js') }}"></script>#}
   {# <script src="{{ asset('js/jquery_19.min.js') }}"></script>

    <script src="{{ asset('js/moment.js') }}"></script>
    #}{#<script type="text/javascript" src="/path/to/bootstrap/js/transition.js"></script>#}{#
    <script  src="{{ asset('collapse.js') }}"></script>

    <script  src="{{ asset('bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.js') }}"></script>
    #}
    {#<script type="text/javascript" src="/path/to/bootstrap-datetimepicker.min.js"></script>#}

    <!-- Bootstrap Core JavaScript -->
    {#<script src="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js') }}"></script>#}
    <!-- Menu Plugin JavaScript -->
    <script src="{{ asset('plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
    <!--slimscroll JavaScript -->
    <script src="{{ asset('js/jquery.slimscroll.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ asset('js/waves.js') }}"></script>
    <!-- Flot Charts JavaScript -->
    {#<script src="{{ asset('plugins/bower_components/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('plugins/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>#}
    <!-- google maps api -->
    {#<script src="{{ asset('plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.min.js') }}"></script>
    <script src="{{ asset('plugins/bower_components/vectormap/jquery-jvectormap-world-mill-en.js') }}"></script>#}
    <!-- Sparkline charts -->
    <script src="{{ asset('plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js') }}"></script>
    <!-- EASY PIE CHART JS -->
    <script src="{{ asset('plugins/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('plugins/bower_components/jquery.easy-pie-chart/easy-pie-chart.init.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('js/custom.min.js') }}"></script>
    {#<script src="{{ asset('js/dashboard2.js') }}"></script>#}
    <!--Style Switcher -->
    <script src="{{ asset('plugins/bower_components/styleswitcher/jQuery.style.switcher.js') }}"></script>
{% endblock %}

</body>
</html>
