{% extends "::layoutAdmin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">#}
    <!-- Integral core stylesheet -->
    {#<link href="{{ asset('datatable/integral-core.css') }}" rel="stylesheet">#}
    <!-- /integral core stylesheet -->

    <!--Jvector Map-->
    {#<link href="{{ asset('datatable/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet">#}

    {#<link href="{{ asset('datatable/integral-forms.css') }}" rel="stylesheet">#}

    <!-- Bootstrap RTL stylesheet min version -->
    {# <link href="{{ asset('datatable/bootstrap-rtl.min.css') }}" rel="stylesheet">#}
    <!-- /bootstrap rtl stylesheet min version -->

    <!-- Integral RTL core stylesheet -->
    {#<link href="{{ asset('datatable/integral-rtl-core.css') }}" rel="stylesheet">#}

    {#<link href="{{ asset('datatable/integral-forms.css') }}" rel="stylesheet">#}
    <link href="{{ asset('datatable/jquery.dataTables.css') }}" rel="stylesheet">
    <link href="{{ asset('datatable/buttons.dataTables.css') }}" rel="stylesheet">

    <link href="{{ asset('datatable/select2.css') }}" rel="stylesheet">

    <link href="{{ asset('datatable/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<!-- /main header -->

<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title arabe">المواعيد</h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">


                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title arabe">قائمة المواعيد</h4>
                    </div>


                    <div class="panel-body">
                        {% for flashMessage in app.session.flashbag.get('msg') %}
                            <br><br>
                            <div class='alert alert-success alert-dismissable arabe'>
                                <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;
                                </button>
                                {{ flashMessage }}
                            </div>

                        {% endfor %}
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                            <tr>
                                <th class="arabe">تاريخ الموعد</th>
                                <th class="arabe">الحالة</th>
                                <th class="arabe">الطبيب</th>
                                <th class="arabe">المستخدم</th>
                                <th class="arabe">عرض المعلومات</th>
                                <th class="arabe">تعديل</th>
                                <th class="arabe">حذف</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for appointment in appointments %}
                            {% if appointment.isActiveAppointment == 1 %}
                            <tr class="gradeX">
                                <td class="arabe">يوم
                                    {{ appointment.appointment|date('d/m/Y') }} على الساعة
                                    {% if appointment.appointment|date('i') == 02 %}
                                        و دقيقاتان
                                    {% elseif appointment.appointment|date('i') > 10 %}
                                        {{ appointment.appointment|date('H و i دقيقة') }}
                                    {% elseif appointment.appointment|date('i') < 2 %}
                                        {{ appointment.appointment|date('H و i دقيقة') }}
                                    {% else %}
                                        {{ appointment.appointment|date('H و i دقائق') }}
                                    {% endif %}
                                </td>
                                <td class="arabe">


                                    {% if appointment.status == 'مؤكد' %}
                                        <span class="label label-success">{{ appointment.status }}</span>
                                    {% elseif appointment.status == 'معلق' %}
                                        <span class="label label-info">{{ appointment.status }} </span>
                                    {% elseif appointment.status == 'منته' %}
                                        <span class="label label-primary"> {{ appointment.status }} </span>
                                    {% elseif appointment.status == 'مرفوض' %}
                                        <span class="label label-danger"> {{ appointment.status }} </span>
                                    {% endif %}
                                </td>
                                <td class="arabe">{{ appointment.doctor.nameDoctor }}</td>
                                <td class="arabe">{{ appointment.user.name }}</td>
                                <td align="center">
                                    <a href="{{ path('doctors_admin_showAppointment', {'id':appointment.id}) }}"
                                       class="btn btn-info">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="{{ path('doctors_admin_editAppointment', {'id':appointment.id}) }}"
                                       class="btn btn-primary">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="#" id="remove-customer-{{ appointment.id }}"
                                       class="btn btn-danger" data-toggle="modal"
                                       data-target="#confirm-delete-{{ appointment.id }}"><i
                                                class="fa fa-remove"></i> </a>

                                </td>

                                <!-- Delete Modal -->
















                                <div class="modal fade" id="confirm-delete-{{ appointment.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <h4 class="modal-title arabe" id="myModalLabel"> تاكيد الحذف </h4>
                                            </div>

                                            <div class="modal-body">
                                                <p class="arabe">
                                                    هل تريد حذف الموعد :
                                                    <br><br>
                                                    <span style="border: 1px dashed black; padding: 3px">
                                                        <strong class="arabe">
                                                            الموعد :
                                                        </strong>
                                                        {{ appointment.status }} </span><br><br>
                                                    <strong class="arabe">

                                                        تاريخ الموعد :
                                                    </strong>
                                                    {{ " اليوم : " ~ appointment.appointment|date('d/m/Y') ~  " الساعة : " ~ appointment.appointment|date('h') ~ " و : " ~ appointment.appointment|date('I') ~ " دقيقة " }} <br>

                                                    <strong>

                                                        اسم الطبيب :
                                                    </strong>
                                                    {{ appointment.doctor.nameDoctor }} <br>
                                                    <strong>
                                                        اسم المستخدم :
                                                    </strong>
                                                    {{ appointment.user.name }}

                                                </p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default arabe"
                                                        data-dismiss="modal">
                                                    رجوع
                                                </button>
                                                <a href="{{ path('doctors_admin_deleteAppointment', {'id':appointment.id}) }}"
                                                   class="btn btn-danger arabe" id="btn-remove"> حذف</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

















                                {#<div class="modal fade" id="confirm-delete-{{ appointment.id }}"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">&times;
                                                </button>
                                                <h4 class="modal-title arabe" id="myModalLabel"> تاكيد الحذف </h4>
                                            </div>

                                            <div class="modal-body">
                                                <p class="arabe">
                                                    هل تريد حذف الموعد :
                                                    <br>
                                                    <strong class="arabe">
                                                        {{ appointment.status }} للمستخدم {{ appointment.user.name }} و
                                                        الطبيب {{ appointment.doctor.nameDoctor }}
                                                    </strong>
                                                </p>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default arabe"
                                                        data-dismiss="modal">
                                                    رجوع
                                                </button>
                                                <a href="{{ path('doctors_admin_deleteAppointment', {'id':appointment.id}) }}"
                                                   class="btn btn-danger arabe" id="btn-remove"> حذف</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>#}

                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="arabe">تاريخ الموعد</th>
                                <th class="arabe">الحالة</th>
                                <th class="arabe">الطبيب</th>
                                <th class="arabe">المستخدم</th>
                                <th class="arabe">تعديل</th>
                                <th class="arabe">حذف</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>

        </div>


    </div>

    <!-- /main content -->
    {#{% block footer %}
        {{ parent() }}
    {% endblock %}#}
</div>
<!-- /page-wrapper -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('datatable/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery.blockUI.js') }}"></script>

    <!--Functions Js-->
    <script src="{{ asset('datatable/js/functions.js') }}"></script>

    <script src="{{ asset('datatable/js/loader.js') }}"></script>

    <script src="{{ asset('datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datatable/js/jszip.min.js') }}"></script>
    <script src="{{ asset('datatable/js/pdfmake.min.js') }}"></script>
    {#<script src="{{ asset('datatable/js/vfs_fonts.js') }}"></script>#}
    <script src="{{ asset('datatable/js/buttons.html5.js') }}"></script>
    <script src="{{ asset('datatable/js/buttons.colVis.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables-script.js') }}"></script>
    <script src="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js') }}"></script>
{% endblock %}
