{% trans_default_domain 'FOSUserBundle' %}
{% extends "::layoutAdmin.html.twig" %}
{% block body %}
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title arabe"> تعديل كلمة العبور</h4></div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="white-box">
                    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.current_password, "كلمة العبور الحالية", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.current_password) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control arabe'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.plainPassword) }}
                        {{ form_widget(form.plainPassword, {'attr': {'class': 'arabe'}}) }}
                    </div>
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="تعديل كلمة العبور" class="arabe btn btn-primary btn-lg"/>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

