{% extends "::layoutAdmin.html.twig" %}
{% block body %}
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title arabe"> اضافة تقييم</h4></div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="white-box">
                    {{ userAgent }}
                    {{ form_start(form) }}
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.evaluation, "التقييم", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.evaluation) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.evaluation, {'attr': {'class': 'arabe form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <select class="arabe" name="evaluation_id">
                            {%  for apt in list %}
                                {% if (apt.eval == false and apt.isActiveAppointment == 1 ) %}
                                    <option value="{{apt.id }}" class="arabe">
                                        {{ " اليوم : " ~ apt.appointment|date('d/m/Y') ~  " الساعة : " ~ apt.appointment|date('H') ~ " و : " ~ apt.appointment|date('i') ~ " دقيقة | الطبيب : " ~ apt.doctor.nameDoctor ~ "  | المستخدم :  " ~ apt.user.name }}
                                    </option>
                                {% endif %}
                            {%  endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.feedback, "تعليق", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.feedback) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.feedback, {'attr': {'class': 'arabe form-control'}}) }}
                    </div>
                    {#<div class="form-group">
                        #}{# Génération du label. #}{#
                        {{ form_label(form.appointment, "appointment", {'label_attr': {'class': 'arabe control-label '}}) }}

                        #}{# Affichage des erreurs pour ce champ précis. #}{#
                        {{ form_errors(form.appointment) }}
                        #}{# Génération de l'input. #}{#
                        {{ form_widget(form.appointment, {'attr': {'class': 'arabe form-control appointment'}}) }}
                    </div>#}
                    {#<div class="form-group">
                        #}{# Génération du label. #}{#
                        {{ form_label(form.doctor, "الطبيب", {'label_attr': {'class': 'arabe control-label'}}) }}

                        #}{# Affichage des erreurs pour ce champ précis. #}{#
                        {{ form_errors(form.doctor) }}
                        #}{# Génération de l'input. #}{#
                        {{ form_widget(form.doctor, {'attr': {'class': 'form-control arabe'}}) }}
                    </div>#}
                    <input type="submit" value="اضافة التقييم" class="  arabe btn btn-primary btn-lg" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('datatable/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery.blockUI.js') }}"></script>

    <!--Functions Js-->
    <script src="{{ asset('datatable/js/functions.js') }}"></script>

    <script src="{{ asset('datatable/js/loader.js') }}"></script>

    <script src="{{ asset('datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datatable/js/jszip.min.js') }}"></script>
    <script src="{{ asset('datatable/js/pdfmake.min.js') }}"></script>
    {#<script src="{{ asset('datatable/js/vfs_fonts.js') }}"></script>#}
    <script src="{{ asset('datatable/js/buttons.html5.js') }}"></script>
    <script src="{{ asset('datatable/js/buttons.colVis.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables-script.js') }}"></script>
    <script src="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js') }}"></script>
{% endblock %}