@font-face {
    font-family: 'DroidKufiRegular';
    src: url('../polices/DroidKufiRegular.ttf') format('truetype');
}
.arabe
{
    font-family: DroidKufiRegular;
}
.image
{
    /*border: 2px solid black;*/
    text-align: center;
    width: 100px;
    height: 100px;
}
.login-box
{
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.authentification
{
    font-size: 36px !important;
    font-weight: 500 !important;
}