{% trans_default_domain 'FOSUserBundle' %}


<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>
<section id="wrapper" class="login-register" style="direction: rtl;">
    <div class="login-box">
        <div class="white-box">
<form action="{{ path("fos_user_security_check") }}" class="form-horizontal form-material" id="loginform" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <h3 class="box-title m-b-20 arabe text-center authentification"><i class="fa fa-lock" aria-hidden="true"></i>
        لوحة التحكم</h3>
    <div class="form-group ">
        <div class="col-xs-12">
            <label for="username" class="arabe"><i class="fa fa-user" aria-hidden="true"></i>
                اسم الأدمين</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"  class="form-control arabe" />
        </div></div>


    <div class="form-group">
        <div class="col-xs-12">
            <label for="password" class="arabe"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                كلمة المرور</label>
    <input type="password" id="password" name="_password" required="required" class="form-control arabe" />
        </div></div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me" class="arabe"> تذكرني </label>
            </div>
            {#<a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> #}</div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
    <input class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light arabe   " type="submit" id="_submit" name="_submit" value="تسجيل الدخول" />
        </div>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
</form></div></div></section>
