{% extends "::layoutAdmin.html.twig" %}
{% block body %}
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title arabe"> اضافة مستخدم</h4></div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="white-box">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.photo, "صورة المستخدم", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.photo) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.photo, {'attr': {'class': 'arabe'}}) }}
                    </div>
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.phoneNumber, "رقم الجوال", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.phoneNumber) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control arabe'}}) }}
                    </div>


                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.name, "اسم المستخدم", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.name) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control arabe'}}) }}
                    </div>

                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.country, "البلد", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.country) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.country, {'attr': {'class': 'form-control arabe'}}) }}
                    </div>
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.town, "المدينة", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.town) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.town, {'attr': {'class': 'form-control arabe'}}) }}
                    </div>
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.city, "الحي", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.city) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.city, {'attr': {'class': 'form-control arabe'}}) }}
                    </div>

                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.email, "البريد الالكتروني", {'label_attr': {'class': 'arabe control-label'}}) }}

                        {# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.email) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control arabe'}}) }}
                    </div>

                    <div class="form-group">
                        {# Génération du label. #}{#
                        {{ form_label(form.password, "كلمة المرور", {'label_attr': {'class': 'arabe control-label'}}) }}

                        #}{# Affichage des erreurs pour ce champ précis. #}
                        {{ form_errors(form.password) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.password, {'attr': {'class': 'arabe'}}) }}
                    </div>
                    <input type="submit" value="اضافة المستخدم" class="btn btn-primary btn-lg arabe" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('datatable/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery.blockUI.js') }}"></script>

    <!--Functions Js-->
    <script src="{{ asset('datatable/js/functions.js') }}"></script>

    <script src="{{ asset('datatable/js/loader.js') }}"></script>

    <script src="{{ asset('datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datatable/js/jszip.min.js') }}"></script>
    <script src="{{ asset('datatable/js/pdfmake.min.js') }}"></script>
    {#<script src="{{ asset('datatable/js/vfs_fonts.js') }}"></script>#}
    <script src="{{ asset('datatable/js/buttons.html5.js') }}"></script>
    <script src="{{ asset('datatable/js/buttons.colVis.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables-script.js') }}"></script>
    <script src="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js') }}"></script>
{% endblock %}