{% extends "::layoutAdmin.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}">#}
    <!-- Integral core stylesheet -->
    {#<link href="{{ asset('datatable/integral-core.css') }}" rel="stylesheet">#}
    <!-- /integral core stylesheet -->

    <!--Jvector Map-->
    {#<link href="{{ asset('datatable/jquery-jvectormap-2.0.3.css') }}" rel="stylesheet">#}

    {#<link href="{{ asset('datatable/integral-forms.css') }}" rel="stylesheet">#}

    <!-- Bootstrap RTL stylesheet min version -->
    {# <link href="{{ asset('datatable/bootstrap-rtl.min.css') }}" rel="stylesheet">#}
    <!-- /bootstrap rtl stylesheet min version -->

    <!-- Integral RTL core stylesheet -->
    {#<link href="{{ asset('datatable/integral-rtl-core.css') }}" rel="stylesheet">#}

    {#<link href="{{ asset('datatable/integral-forms.css') }}" rel="stylesheet">#}
    <link href="{{ asset('datatable/jquery.dataTables.css') }}" rel="stylesheet">
    <link href="{{ asset('datatable/buttons.dataTables.css') }}" rel="stylesheet">

    <link href="{{ asset('datatable/select2.css') }}" rel="stylesheet">

    <link href="{{ asset('datatable/bootstrap-toggle.min.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title arabe">الأطباء</h4>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <h4 class="panel-title arabe">قائمة الأطباء</h4>
                        </div>

                        <div class="panel-body">
                            {% for flashMessage in app.session.flashbag.get('msg') %}
                                <br><br>
                                <div class='alert alert-success alert-dismissable arabe'>
                                    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;
                                    </button>
                                    {{ flashMessage }}
                                </div>

                            {% endfor %}
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th class="arabe">صورة الطبيب</th>
                                    <th class="arabe">اسم الطبيب</th>
                                    <th class="arabe">رقم الجوال</th>
                                    <th class="arabe">الاختصاص</th>
                                    <th class="arabe">الجنسية</th>
                                    <th class="arabe">عرض المعلومات</th>
                                    <th class="arabe">تعديل</th>
                                    <th class="arabe">حذف</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for doctor in doctors %}
                                    {% if doctor.isActiveDoctor == 1 %}
                                        <tr class="gradeX arabe">
                                            <td align="center">
                                                <a href="#" id="show-{{ doctor.id }}" data-toggle="modal"
                                                   data-target="#show-modal-{{ doctor.id }}">
                                                    <img src="{{ asset('uploads/doctors/'~doctor.photoDoctor) }}" class="thumbnail image"/>
                                                </a>
                                                <div class="modal fade" id="show-modal-{{ doctor.id }}" tabindex="-1"
                                                     role="dialog" aria-labelledby="myModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-hidden="true">
                                                                    &times;
                                                                </button>
                                                                <h4 class="modal-title arabe" id="myModalLabel"> اظهار
                                                                    الصورة</h4>
                                                            </div>

                                                            <div class="modal-body">
                                                                <center>
                                                                    <img src="{{ asset('uploads/doctors/'~doctor.photoDoctor) }}"
                                                                         width="500" height="300" id="large-img-{{ doctor.id }}">
                                                                </center>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default arabe"
                                                                        data-dismiss="modal"> رجوع
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ doctor.nameDoctor }}</td>
                                            <td>{{ doctor.phoneNumberDoctor }}</td>
                                            <td>{% if  doctor.speciality.nameSpeciality is not defined  %}
                                                    طبيب عام
                                                {% else %}
                                                    {{ doctor.speciality.nameSpeciality }}
                                                {% endif %}</td>
                                            <td>{{ doctor.countryDoctor }}</td>
                                            <td align="center">
                                                <a  href="{{ path('doctors_admin_showDoctor', {'id':doctor.id}) }}" class="btn btn-info">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </td>
                                            <td align="center">
                                                <a href="{{ path('doctors_admin_editDoctor', {'id':doctor.id}) }}"
                                                   class="btn btn-primary">
                                                    <i class="fa fa-refresh"></i>
                                                </a>
                                            </td>

                                            <td align="center">
                                                <a href="#" id="remove-customer-{{ doctor.id }}" class="btn btn-danger"
                                                   data-toggle="modal" data-target="#confirm-delete-{{ doctor.id }}"><i
                                                            class="fa fa-remove"></i> </a>

                                            </td>

                                            <!-- Delete Modal -->
                                            <div class="modal fade" id="confirm-delete-{{ doctor.id }}" tabindex="-1"
                                                 role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;
                                                            </button>
                                                            <h4 class="modal-title arabe" id="myModalLabel"> تاكيد الحذف </h4>
                                                        </div>

                                                        <div class="modal-body">
                                                            <p class="arabe">
                                                                هل تريد حذف الطبيب :
                                                                <br>
                                                                <strong class="arabe">
                                                                    {{ doctor.nameDoctor }}
                                                                </strong>
                                                            </p>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default arabe"
                                                                    data-dismiss="modal">
                                                                رجوع
                                                            </button>
                                                            <a href="{{ path('doctors_admin_deleteDoctor', { 'id': doctor.id }) }}"
                                                               class="btn btn-danger arabe" id="btn-remove"> حذف</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th class="arabe">صورة الطبيب</th>
                                    <th class="arabe">اسم الطبيب</th>
                                    <th class="arabe">رقم الجوال</th>
                                    <th class="arabe">الاختصاص</th>
                                    <th class="arabe">الجنسية</th>
                                    <th class="arabe">عرض المعلومات</th>
                                    <th class="arabe">تعديل</th>
                                    <th class="arabe">حذف</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>

            </div>


        </div>

        <!-- /main content -->
        {#{% block footer %}
            {{ parent() }}
        {% endblock %}#}
    </div>
    <!-- /page-wrapper -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('datatable/js/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery-ui.js') }}"></script>
    <script src="{{ asset('datatable/js/jquery.blockUI.js') }}"></script>

    <!--Functions Js-->
    <script src="{{ asset('datatable/js/functions.js') }}"></script>

    <script src="{{ asset('datatable/js/loader.js') }}"></script>

    <script src="{{ asset('datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datatable/js/jszip.min.js') }}"></script>
    <script src="{{ asset('datatable/js/pdfmake.min.js') }}"></script>
    {#<script src="{{ asset('datatable/js/vfs_fonts.js') }}"></script>#}
    <script src="{{ asset('datatable/js/buttons.html5.js') }}"></script>
    <script src="{{ asset('datatable/js/buttons.colVis.js') }}"></script>
    <script src="{{ asset('datatable/js/dataTables-script.js') }}"></script>
    <script src="{{ asset('plugins/bower_components/bootstrap-rtl-master/dist/js/bootstrap-rtl.min.js') }}"></script>
{% endblock %}
